.block10{

  display: flex;
  //justify-content: left;
  align-items: flex-start;
  //height: 100%;
  //width: 100%;
}
.twoBlock10{
  display: flex;
  //justify-content: center;
  //align-items: center;
  width: 100%;

}
.startFlex{

  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 50%;

  &__column{
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    max-width: 50%;

  }
}

