.icon {
  background: #6b96ad;
  background-image: url("../img/icon.png");
  width: 42.52px;
  height: 42.52px; }

.icon-0 {
  background-position: -42.52px 0px; }

.icon-9 {
  background-position: -42.52px -42.52px; }

.icon-18 {
  background-position: -42.52px -85.04px; }

.icon-27 {
  background-position: -42.52px -127.56px; }

.icon-36 {
  background-position: -42.52px -170.08px; }

.icon-1 {
  background-position: -85.04px 0px; }

.icon-10 {
  background-position: -85.04px -42.52px; }

.icon-19 {
  background-position: -85.04px -85.04px; }

.icon-28 {
  background-position: -85.04px -127.56px; }

.icon-37 {
  background-position: -85.04px -170.08px; }

.icon-2 {
  background-position: -127.56px 0px; }

.icon-11 {
  background-position: -127.56px -42.52px; }

.icon-20 {
  background-position: -127.56px -85.04px; }

.icon-29 {
  background-position: -127.56px -127.56px; }

.icon-38 {
  background-position: -127.56px -170.08px; }

.icon-3 {
  background-position: -170.08px 0px; }

.icon-12 {
  background-position: -170.08px -42.52px; }

.icon-21 {
  background-position: -170.08px -85.04px; }

.icon-30 {
  background-position: -170.08px -127.56px; }

.icon-39 {
  background-position: -170.08px -170.08px; }

.icon-4 {
  background-position: -212.6px 0px; }

.icon-13 {
  background-position: -212.6px -42.52px; }

.icon-22 {
  background-position: -212.6px -85.04px; }

.icon-31 {
  background-position: -212.6px -127.56px; }

.icon-40 {
  background-position: -212.6px -170.08px; }

.icon-5 {
  background-position: -255.12px 0px; }

.icon-14 {
  background-position: -255.12px -42.52px; }

.icon-23 {
  background-position: -255.12px -85.04px; }

.icon-32 {
  background-position: -255.12px -127.56px; }

.icon-41 {
  background-position: -255.12px -170.08px; }

.icon-6 {
  background-position: -297.64px 0px; }

.icon-15 {
  background-position: -297.64px -42.52px; }

.icon-24 {
  background-position: -297.64px -85.04px; }

.icon-33 {
  background-position: -297.64px -127.56px; }

.icon-42 {
  background-position: -297.64px -170.08px; }

.icon-7 {
  background-position: -340.16px 0px; }

.icon-16 {
  background-position: -340.16px -42.52px; }

.icon-25 {
  background-position: -340.16px -85.04px; }

.icon-34 {
  background-position: -340.16px -127.56px; }

.icon-43 {
  background-position: -340.16px -170.08px; }

.icon-8 {
  background-position: -382.68px 0px; }

.icon-17 {
  background-position: -382.68px -42.52px; }

.icon-26 {
  background-position: -382.68px -85.04px; }

.icon-35 {
  background-position: -382.68px -127.56px; }

.icon-44 {
  background-position: -382.68px -170.08px; }
