//Colors
$primaryColor: #6b96ad;
$secondaryColor: #b2d2e1;
$colorHover:#79a2b7;
$primaryColorText: #e5fffd;
$secondaryColorText: #b2d2e1;
$backgroundText: #ffffff;

//Fonts
$fonLatin: 'Exo', sans-serif;
$fonCirillic: 'Exo 2', sans-serif;
//Border
$border: rgba(19, 47, 23, 0.22) 1px solid;
$borderRadius: 5px;
$secondaryBorder:rgba(19, 47, 23, 0.22) 2px solid;


